<h2>Order Confirmation</h2>
<h1><%= @product.name %></h1>



<h2>Quantity: <%= @order.quantity %></h2>
<h2>Subtotal: <%= number_to_currency(@order.subtotal) %></h2>
<h2>Tax: <%= number_to_currency(@order.tax) %></h2>
<h2>Total: <%= number_to_currency(@order.total) %></h2>

<h2>User: <%= current_user.name %></h2>