<h1><%= @product.name %></h1>

<h3>Price: <%= number_to_currency(@product.price) %></h3>
<h4>Tax: <%= number_to_currency(@product.item_tax) %></h4>
<h3>Total Price: <%= number_to_currency(@product.item_total) %></h3>
<% @product.images.each do |image_object| %>
<img src=<%= image_object.url %>>
<% end %>
<h3>Description: <%= @product.description %></h3>
<p>Supplier: <%= @supplier %></p>

<%= link_to 'Home', '/products' %>
<br>
<%= link_to 'Edit', "/products/#{@product.id}/edit" %>
<br>
<%= link_to 'Delete', "/products/#{@product.id}", method: :delete %>