<h1><%= @product.name %></h1>

<h3>Price: <%= number_to_currency(@product.price) %></h3>
<h4>Tax: <%= number_to_currency(@product.item_tax) %></h4>
<h3>Total Price: <%= number_to_currency(@product.item_total) %></h3>
<% @product.images.each do |image_object| %>
<img src=<%= image_object.url %>>
<% end %>
<h3>Description: <%= @product.description %></h3>
<p>Supplier: <%= @supplier %></p>

<% if current_user %>
	<%= form_tag '/carted_products', method: :post do %>
	<div>
		<%= label_tag :quantity %>
		<%= text_field_tag :quantity%>
	</div>
	<div>
		<%= hidden_field_tag :product_id, @product.id %>
	</div>
	<%= submit_tag "Add To Cart", class: "btn btn-success" %>
	<% end %>
	<br>
	<% if current_user.admin %>
		<%= link_to 'Edit', "/products/#{@product.id}/edit", class: "btn btn-info" %>
		<%= link_to 'Delete', "/products/#{@product.id}", method: :delete, class: "btn btn-danger" %>
	<% end %>
<% else %>
	<h3>New Customer? Register to place your order: <%= link_to 'Register', "/signup" %></h3>
	<h3>Existing Customer - <%= link_to 'Login', "/login" %></h3>
<% end %>