<!DOCTYPE html>
<html>
  <head>
    <title>TV Memorabilia Store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">

          <li class="active">
            <% if current_user  %>
              <a class="active">Welcome <%= current_user.name.titleize %>!</a>
            <% end %>
          </li>

          <%= form_tag '/products', method: :get, class: "navbar-form navbar-left" do %>
              <div class="form-group">
                <%= text_field_tag :search_term, nil, placeholder: "Search", class: "form-control" %>
              </div>
              <%= submit_tag 'Submit', class: "btn btn-default" %>
          <% end %>

          <li class="active">
            <% if current_user %>
              <%= link_to 'Home', "/" %>
            <% end %>
          </li>
          <li class="active">
            <% if current_user %>
              <%= link_to 'Add Product', "/products/new" %>
            <% end %>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/products?sort=price">Sort by Price (Low to High)</a></li>
              <li><a href="/products?sort=price&sort_order=desc">Sort by Price (High to Low)</a></li>
              <li><a href="/products?discount=500">Items under $500</a></li>
              <li><a href="/products/random">Random Product</a></li>
              <li role="separator" class="divider"></li>
              <% if current_user %>
                <li><%= link_to 'Log Out', '/logout', method: :delete %></li>
              <% else %>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Log In</a></li>
              <% end %>

            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <body class="container">

  <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %>
    </div>
  <% end %>

    <%= yield %>
  </body>
</html>
